
<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


  <br>
    <h1 style="color:white; text-align: center"><b> Weather Forecast - {{name}}</b> </h1>
<app-textbox>
 
   <input  textb class="w3-input w3-border" type="text" [(ngModel)]='name' placeholder="Enter City Name">

    <button buttonb (click)='getData()'  class="w3-btn w3-blue" ><b>Find</b></button>
</app-textbox>

<pre><h4 style="color:black">             Date And Time                                          Min Temp   Max Temp   Humidity</h4></pre>
 
  <table>
    
      <tr>
  <app-display>
    
    <td day>{{cloudData.list[1].dt_txt}}</td>
    <td temp>{{cloudData.list[1].main.temp_min}}</td>
    <td temp>{{cloudData.list[1].main.temp_max}}</td>
    <td image1><img src="http://openweathermap.org/img/w/{{cloudData.list[1].weather[0].icon}}.png"></td>
    <td header>{{cloudData.list[1].main.humidity}}</td>
     
  </app-display> </tr>
  <tr>
      <app-display>

        <td day>{{cloudData.list[9].dt_txt}}</td>
          <td temp>{{cloudData.list[9].main.temp_min}}</td>
          <td temp>{{cloudData.list[9].main.temp_max}}</td>
          <td image1><img src="http://openweathermap.org/img/w/{{cloudData.list[9].weather[0].icon}}.png"></td>
    <td header>{{cloudData.list[9].main.humidity}}</td>
           
        </app-display>
  </tr>
  <tr>
      <app-display>
    
          <td day>{{cloudData.list[17].dt_txt}}</td>
          <td temp>{{cloudData.list[17].main.temp_min}}</td>
          <td temp>{{cloudData.list[17].main.temp_max}}</td>
          <td image1><img src="http://openweathermap.org/img/w/{{cloudData.list[17].weather[0].icon}}.png"></td>
    <td header>{{cloudData.list[17].main.humidity}}</td>
        </app-display>
  </tr>
  <tr>
    <app-display>
  
        <td day>{{cloudData.list[25].dt_txt}}</td>
        <td temp>{{cloudData.list[25].main.temp_min}}</td>
        <td temp>{{cloudData.list[25].main.temp_max}}</td>
        <td image1><img src="http://openweathermap.org/img/w/{{cloudData.list[25].weather[0].icon}}.png"></td>
  <td header>{{cloudData.list[25].main.humidity}}</td>
      </app-display>
</tr>
<tr>
  <app-display>

      <td day>{{cloudData.list[33].dt_txt}}</td>
      <td temp>{{cloudData.list[33].main.temp_min}}</td>
      <td temp>{{cloudData.list[33].main.temp_max}}</td>
      <td image1><img src="http://openweathermap.org/img/w/{{cloudData.list[33].weather[0].icon}}.png"></td>
<td header>{{cloudData.list[33].main.humidity}}</td>
    </app-display>
</tr>

</table>
</body>
</html>
 